aliyun-python-sdk-core-v3==2.13.0
aliyun-python-sdk-kms==2.5.0
amqp==2.4.1
billiard==3.5.0.5
celery==5.2.2
certifi==2018.11.29
chardet==3.0.4
colorama==0.4.1
crcmod==1.7
Django==2.1.5
djangorestframework==3.9.1
httpie==1.0.2
idna==2.8
jmespath==0.9.4
kombu==4.3.0
pycryptodome==3.7.3
Pygments==2.3.1
pytz==2018.9
redis==3.2.0
requests==2.21.0
urllib3==1.24.1
vine==1.2.0
gunicorn
